<!DOCTYPE html>

<html>
    <a href="/staff/">
        <button>Home</button>
    </a>
    <a href="/staff/viewflights">
        <button>View All Flights</button>
    </a>
    <a href="/staff/createflight">
        <button>Add New Flight</button>
    </a>
    <a href="/staff/updateflightstatus">
        <button>Update Flight Status</button>
    </a>
    <a href="/staff/addairplane">
        <button>Add Airplane</button>
    </a>
    <a href="/staff/addairport">
        <button>Add Airport</button>
    </a>
    <a href="/staff/viewflightrating">
        <button>View Flight Ratings</button>
    </a>
    <a href="/staff/schedulemaintenance">
        <button>Schedule Maintenance</button>
    </a>
    <a href="/staff/viewfrequentcustomer">
        <button>View Frequent Customer</button>
    </a>
    <a href="/staff/earnedrevenue">
        <button>See Earned Revenue</button>
    </a>
    <a href="/logout">
        <button>Logout</button>
    </a>
    {% block body %}{% endblock %}
</html>