<!DOCTYPE html>

<html>
    <a href="/customer/">
        <button>Home</button>
    </a>
    <a href="/customer/viewflights">
        <button>View my Flights</button>
    </a>
    <a href="/customer/search">
        <button>Search for Flights</button>
    </a>
    <a href="/customer/purchase">
        <button>Purchase tickets</button>
    </a>
    <a href="/customer/cancel">
        <button>Cancel Trip</button>
    </a>
    <a href="/customer/ratecomment">
        <button>Give Ratings and Comment on Previous Flights</button>
    </a>
    <a href="/customer/track">
        <button>Track my Spending</button>
    </a>
    <a href="/logout">
        <button>Logout</button>
    </a>
    {% block body %}{% endblock %}
</html>