{% extends "customer/nav.html" %}

{% block body %}
    <style type="text/css">
        table, th, td {
            border: 1px solid black;
        }
    </style>
    {% if not all %}
        <h1>Your Future Flights</h1>
    {% else %}
        <h1>All Purchased Flights</h1>
    {% endif %}
    <table>
        <th>Airline</th>
        <th>Flight Number</th>
        <th>Departure Date</th>
        <th>Departure Time</th>
        <th>Arrival Date</th>
        <th>Arrival Time</th>
        <th>Base Price</th>
        <th>Flight Status</th>
        <th>Departure Code</th>
        <th>Arrival Code</th>
        <th>First Name</th>
        <th>Last Name</th>
    
    {% for flight in data %}
        <tr>
            <td>{{flight['airline_name']}}</td>
            <td>{{flight['flight_number']}}</td>
            <td>{{flight['departure_date']}}</td>
            <td>{{flight['departure_time']}}</td>
            <td>{{flight['arrival_date']}}</td>
            <td>{{flight['arrival_time']}}</td>
            <td>{{flight['base_price']}}</td>
            <td>{{flight['flight_status']}}</td>
            <td>{{flight['departure_code']}}</td>
            <td>{{flight['arrival_code']}}</td>
            <td>{{flight['first_name']}}</td>
            <td>{{flight['last_name']}}</td>
        </tr>
    {% endfor %}
    </table>

    {% if not all %}
    <a href="/customer/viewallflights">
        <button>View All Purchased Flights</button>
    </a>
    {% else %}
    <a href="/customer/viewflights">
        <button>View All Future Flights</button>
    </a>
    {% endif %}
{% endblock %}