{% extends "default/nav.html" %}

{% block body %}
    <h1>Register as Staff</h1>
    <form action="/registerAuthStaff" method="POST" id="register">
        <input type="text" name = "email" placeholder="username" required/> </br>
        <input type="password" name = "password" placeholder="password" required/></br>
        <input type="text" name = "first_name" placeholder="first name" required/> </br>
        <input type="text" name = "last_name" placeholder="last name" required/> </br>
        <input type="date" name = "date_of_birth" placeholder="date of birth" required/> </br>
        <input type="text" name = "airline_name" placeholder="airline name" required/> </br>
        <h3>Enter your phone numbers, comma separated</h3>
        <textarea form="register" maxlength="200" name="phone_numbers" required></textarea>
        <br/>
        <h3>Enter your email addresses (at least 1), comma separated</h3>
        <textarea form="register" maxlength="200" name="email_addresses" required></textarea>
        <br/>

        <input type="submit" value = Register />
        {% if error %}
            <p class="error"><strong>Error:</strong> {{error}}</p>
        {% endif %}
    </form>
{% endblock %}